<html>
    <head>
        <title>Mock API Server</title>
    </head>

    <body>
        <div style="text-align: center;">
            <h1>Mock API Server</h1>
        </div>
        <div>
            <h3>List of Mock API's:</h3>
        </div>
        <div>
            <ol>
                <li><a href="<%= baseUrl %>/getadjustment" target="_blank"><%= baseUrl %>/getadjustment</a></li>
                <li><a href="<%= baseUrl %>/getattritionlitebatch" target="_blank"><%= baseUrl %>/getattritionlitebatch</a></li>
                <li><a href="<%= baseUrl %>/getattritionlitedata" target="_blank"><%= baseUrl %>/getattritionlitedata</a></li>
                <li><a href="<%= baseUrl %>/getcriteriavaluebygroupdate" target="_blank"><%= baseUrl %>/getcriteriavaluebygroupdate</a></li>
                <li><a href="<%= baseUrl %>/getcriteriavalue" target="_blank"><%= baseUrl %>/getcriteriavalue</a></li>
                <li><a href="<%= baseUrl %>/getfeedprogram" target="_blank"><%= baseUrl %>/getfeedprogram</a></li>
                <li><a href="<%= baseUrl %>/getgrowthadfi" target="_blank"><%= baseUrl %>/getgrowthadfi</a></li>
                <li><a href="<%= baseUrl %>/getmastermetadataunitbyaccount" target="_blank"><%= baseUrl %>/getmastermetadataunitbyaccount</a></li>
                <li><a href="<%= baseUrl %>/getmorepaymentgriditem" target="_blank"><%= baseUrl %>/getmorepaymentgriditem</a></li>
                <li><a href="<%= baseUrl %>/getomwdata" target="_blank"><%= baseUrl %>/getomwdata</a></li>
                <li><a href="<%= baseUrl %>/getomwlitedata" target="_blank"><%= baseUrl %>/getomwlitedata</a></li>
                <li><a href="<%= baseUrl %>/getomwlitepaymentgriddetail" target="_blank"><%= baseUrl %>/getomwlitepaymentgriddetail</a></li>
                <li><a href="<%= baseUrl %>/getomwpacker" target="_blank"><%= baseUrl %>/getomwpacker</a></li>
                <li><a href="<%= baseUrl %>/getpaymentgriditem" target="_blank"><%= baseUrl %>/getpaymentgriditem</a></li>
                <li><a href="<%= baseUrl %>/getperformanceparameter" target="_blank"><%= baseUrl %>/getperformanceparameter</a></li>
                <li><a href="<%= baseUrl %>/getperformance" target="_blank"><%= baseUrl %>/getperformance</a></li>
                <li><a href="<%= baseUrl %>/getpfdata" target="_blank"><%= baseUrl %>/getpfdata</a></li>
                <li><a href="<%= baseUrl %>/getpflitebatch" target="_blank"><%= baseUrl %>/getpflitebatch</a></li>
                <li><a href="<%= baseUrl %>/getpflitedata" target="_blank"><%= baseUrl %>/getpflitedata</a></li>
                <li><a href="<%= baseUrl %>/getpfliteentrybatch" target="_blank"><%= baseUrl %>/getpfliteentrybatch</a></li>
                <li><a href="<%= baseUrl %>/getpflitepaymentgriddetail" target="_blank"><%= baseUrl %>/getpflitepaymentgriddetail</a></li>
                <li><a href="<%= baseUrl %>/getpflitepaymentgrid" target="_blank"><%= baseUrl %>/getpflitepaymentgrid</a></li>
                <li><a href="<%= baseUrl %>/getpfpacker" target="_blank"><%= baseUrl %>/getpfpacker</a></li>
                <li><a href="<%= baseUrl %>/loadclienttoken" target="_blank"><%= baseUrl %>/loadclienttoken</a></li>
                <li><a href="<%= baseUrl %>/saveomwliteoptimalcase" target="_blank"><%= baseUrl %>/saveomwliteoptimalcase</a></li>
                <li><a href="<%= baseUrl %>/saveomwoptimalcase" target="_blank"><%= baseUrl %>/saveomwoptimalcase</a></li>
                <li><a href="<%= baseUrl %>/saveperformanceparameter" target="_blank"><%= baseUrl %>/saveperformanceparameter</a></li>
                <li><a href="<%= baseUrl %>/getallcompany" target="_blank"><%= baseUrl %>/getallcompany</a></li>
                <li><a href="<%= baseUrl %>/login" target="_blank"><%= baseUrl %>/login</a></li>
                <li><a href="<%= baseUrl %>/profitoptimizerypdf" target="_blank"><%= baseUrl %>/profitoptimizerypdf</a></li>
                <li><a href="<%= baseUrl %>/profitfinderypdf" target="_blank"><%= baseUrl %>/profitfinderypdf</a></li>
                <li><a href="<%= baseUrl %>/attritionypdf" target="_blank"><%= baseUrl %>/attritionypdf</a></li>
                <li><a href="<%= baseUrl %>/getomwpaymentgrid" target="_blank"><%= baseUrl %>/getomwpaymentgrid</a></li>
                <li><a href="<%= baseUrl %>/getomwperformance" target="_blank"><%= baseUrl %>/getomwperformance</a></li>
                <li><a href="<%= baseUrl %>/getBlockedData" target="_blank"><%= baseUrl %>/getBlockedData</a></li>
            </ol>
        </div>
    </body>

    

</html>